/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.top, .bottom {
    width: 100%;
    height: 45px;
    background-color: rgb(240, 235, 232);
    padding: 0.5em;
    font-size: 0.8rem;
}

.center {
    align-self: center;
    font-weight: 700;
    font-size: 3rem;
    color: azure;
    text-shadow: 0px 0px 8px rgb(61, 61, 61);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-container {
    height: calc(45px - 1em);
    width: calc(45px - 1em);
    border: 1px solid black; 
}

.tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em
}

.all-tabs, .fav-tabs {
    position: relative;;
} 

.all-tabs-toggle, .fav-tabs-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-radius: 5px;
    background-color: rgb(212, 211, 189);
    height: calc(45px - 1em);
    width: 18vw;
    cursor: pointer;
}

.all-tabs-list, .fav-tabs-list {
    position: absolute;
    top: 45px;
    width: 100%;
    max-height: 40vh;
    background-color: rgb(212, 211, 189);
    border-radius: 5px;
    padding: 0.5em;
    z-index: 1;
    overflow-y: scroll;
}

.tab-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-radius: 5px;
    background-color: azure;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.tab-icon {
    height: 20px;
    width: 20px;
}

.tab-info {
    margin: 0 auto 0 0.5em;
}

.tab-url {
    font-size: 0.7rem;
    color: black;
    opacity: 0.5;
}

.add-tab-to-bookmark {
    color: rgb(122, 119, 119);
    margin-right: 0.5em;
}

.tab-close {
    color: rgb(122, 119, 119);
}

/* search */
.search-container {
    flex: 0.5;
    position: relative;
}

.search-area {
    background-color: azure;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    border-radius: 50px;
    height: calc(45px - 1em);
    box-shadow: 0px 0px 3px rgb(182, 179, 179);
}

.search-container input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    /* font-size: 1rem; */
    color: black;
    padding: 0.5em;
    border-radius: 50px;
    font-size: 0.8rem;
}

.search-container input::placeholder {
    color: black;
    opacity: 0.5;
}

.search-icon {
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-suggestions {
    position: absolute;
    top: 45px;
    width: 100%;
    background-color: rgb(212, 211, 189);
    border-radius: 5px;
    padding: 0.5em;
    z-index: 1;
    cursor: pointer;
    max-height: 40vh;
    overflow-y: scroll;
}

.search-suggestions p {
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: azure;
    border-radius: 5px;
}



/* utitity class */

.hide {
    display: none;
}

/* cursor scroll style */

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(122, 119, 119);
    border-radius: 10px;
    border: 2px solid rgb(212, 211, 189);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100, 97, 97);
}

::-webkit-scrollbar-track {
    background-color: rgb(240, 235, 232);
    border-radius: 10px;
}

/* weather */

.weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    /* width: ; */
    height: 100%;
    padding: 0.5em;
    background-color: rgb(212, 211, 189);
    border-radius: 5px;
    /* font-size: 0.5rem; */
}
.weather-icon {
    height: 40px;
    width: 40px;
}
.weather-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-right: 0.5em;
    font-weight: 600;
}

@media (max-width: 768px) {
    .top {
        gap:1em;
    }
    .tabs-container {
        gap: 0.5em;
        /* margin-left: -5em; */
    }
    .all-tabs-toggle, .fav-tabs-toggle {
        width: 23vw;
    }
    .weather-container {
        font-size: 0.6rem;
    }
    .weather-info {
        flex-direction: column;
        gap: 0;
        padding: 0.5em 0;
    }
}
